<div class="s19_choose_fabric_1 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div>     
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a href="#/chooseclothes">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Step <span>02</span></h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>Choose your Fabric</p>
    </div>
    <div class="col-12 h55 main fabric_slider">
    <style>
                    .panzoom {
                        position: relative;
                        width: 100%;
                    }
                    
                </style>
                <section id="y-only" class="h100">
                    <style>
                        #set .parent {
                            text-align: center;
                        }
                        
                        #set .parent .panzoom {
                            border: 3px solid;
                        }
                        
                        #set .parent>div {
                            display: inline-block;
                            width: 30%;
                        }
                    </style>
                    <div class="parent clearfix h100">
                        <div class="panzoom h100">
                            <img class="clothe-img clothe-img-1 clothes-active" ng-src="{{img_path + getFrontByShape(clothes)}}" alt="Model">
                            <img class="clothe-img clothe-img-2" ng-src="{{img_path + getLeftByShape(clothes)}}" alt="Model">
                            <img class="clothe-img clothe-img-3" ng-src="{{img_path + getBackByShape(clothes)}}" alt="Model">
                            <img class="clothe-img clothe-img-4" ng-src="{{img_path + getRightByShape(clothes)}}" alt="Model">
                        </div>
                    </div>
                    <button href="#!" class="zoom-in">
                       <img src="img/icon_zoom_in.svg" alt="Zoom In">
                    </button>
                    <button class="zoom-out" style="display: none;"></button>
                    <button href="#!" class="reset">
                        <img src="img/icon_zoom_out.svg" alt="Zoom Out">
                    </button>
                    <button href="#!" class="spin">
                                               <img src="img/icon_spin.svg" alt="Spin">

                        
                    </button>
                    <script>
                        (function() {
                            var $section = $('#y-only');
                            $section.find('.panzoom').panzoom({
                                $zoomIn: $section.find(".zoom-in"),
                                $zoomOut: $section.find(".zoom-out"),
                                $reset: $section.find(".reset"),
                            });
                        })();
                    </script>
                </section>
    </div>
    <div class="col-12 h15 main fabric_menu">
        <div class="col-4">
            <a ng-click="listFabrics(3)">
                <div class="item-box">
                    <img src="img/small-pt-02.jpg" alt="Print">
                    <h4>Prints</h4>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a ng-click="listFabrics(1)">
                <div class="item-box">
                    <img src="img/mapp_solid.jpg" alt="Solids">
                    <h4>Solids</h4>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a ng-click="listFabrics(2)">
                <div class="item-box">
                    <img src="img/mapp_texture.jpg" alt="Textures">
                    <h4>Textures</h4>
                </div>
            </a>
        </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script src="js/jquery.panzoom.min.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/main.js"></script>