<div class="s35_visitor_checkout_6 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div> 
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Check Out</h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h75 main">
            <div class="col-12 h10">
                <div class="col-12 profile_label">
                    <p>Done!</p>
                </div>
            </div>
            <div class="form-box col-12 h90">
                <div class="col-12 h35">
                    <img src="img/icon_fireworks.png" alt="Fireworks">
                    <h2>Order Number: <span>#{{orderNumber}}</span></h2>
                </div>
                <div class="col-12 h15">
                    <h3>Your one-of-a-kind piece is on its way, Check your email for confirmation.</h3>
                </div>
                <div class="col-12 h10">
                    <h4><strong>Happy with your order?</strong></h4>
                </div>
                <div class="col-12 h40">
                    <div class="buttons-box">
                        <div class="col-12">
                            <a href="#invite" class="btn-stroke-golden-bk-thin-lg" type="button">Spread the word</a>
                        </div>
                        <div class="col-12">
                            <a href="#contact" class="btn-stroke-golden-bk-thin-lg" type="button">Stay Informed</a>
                        </div>
                        <div class="col-12">
                            <a href="#signup" class="btn-stroke-golden-bk-thin-lg" type="button" ng-show="user === null">Create a Profile</a>
                            <a href="#choosecategory" class="btn-stroke-golden-bk-thin-lg" type="button" ng-show="user !== null">Design new piece</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>
