<div class="s24_size_chart_1 h100">
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a href="#/readytomeasure">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Step <span>03</span></h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>{{title}}</p>
    </div>
    <div class="col-12 h60 main">
        <div class="col-12 h45 measure-area">
            <div class="col-4 h100">
                <div class="h20 size-label-0"></div>
                <div class="h20 size-label">
                    <p>Chest</p>
                </div>
                <div class="h20 size-label">
                    <p>Waist</p>
                </div>
                <div class="h20 size-label">
                    <p>Hip</p>
                </div>
                <div class="h20 size-label">
                    <p>Length</p>
                </div>
            </div>
            <div class="col-2 h100 measure-box measure-xs">
                <input ng-model="size" class="measure-xs-input" type="radio" id="XS" name="measure" value="XS">
                <label class="checkmark" for="XS">
                    <div class="h20"><p>XS</p></div>
                    <div class="h20 data"><p>{{clothes.chest_xs}}</p></div>
                    <div class="h20 data"><p>{{clothes.waist_xs}}</p></div>
                    <div class="h20 data"><p>{{clothes.hip_xs}}</p></div>
                    <div class="h20 data"><p>{{clothes.length_xs}}</p></div>
                </label>
            </div>
            <div class="col-2 h100 measure-box measure-s">
                <input ng-model="size" class="measure-s-input" type="radio" id="S" name="measure" value="S">
                <label class="checkmark" for="S">
                    <div class="h20"><p>S</p></div>
                    <div class="h20 data"><p>{{clothes.chest_s}}</p></div>
                    <div class="h20 data"><p>{{clothes.waist_s}}</p></div>
                    <div class="h20 data"><p>{{clothes.hip_s}}</p></div>
                    <div class="h20 data"><p>{{clothes.length_s}}</p></div>
                </label>
            </div>
            <div class="col-2 h100 measure-box measure-m">
                <input ng-model="size" class="measure-m-input" type="radio" id="M" name="measure" value="M">
                <label class="checkmark" for="M">
                    <div class="h20"><p>M</p></div>
                    <div class="h20 data"><p>{{clothes.chest_m}}</p></div>
                    <div class="h20 data"><p>{{clothes.waist_m}}</p></div>
                    <div class="h20 data"><p>{{clothes.hip_m}}</p></div>
                    <div class="h20 data"><p>{{clothes.length_m}}</p></div>
                </label>
            </div>
            <div class="col-2 h100 measure-box measure-l">
                <input ng-model="size" class="measure-l-input" type="radio" id="L" name="measure" value="L">
                <label class="checkmark" for="L">
                    <div class="h20"><p>L</div>
                    <div class="h20 data"><p>{{clothes.chest_l}}</p></div>
                    <div class="h20 data"><p>{{clothes.waist_l}}</p></div>
                    <div class="h20 data"><p>{{clothes.hip_l}}</p></div>
                    <div class="h20 data"><p>{{clothes.length_l}}</p></div>
                </label>
            </div>
        </div>
        <div class="col-12 h45 measure-area">
            <div class="col-4 h100">
                <div class="h20 size-label-0"></div>
                <div class="h20 size-label">
                    <p>Chest</p>
                </div>
                <div class="h20 size-label">
                    <p>Waist</p>
                </div>
                <div class="h20 size-label">
                    <p>Hip</p>
                </div>
                <div class="h20 size-label">
                    <p>Lenght</p>
                </div>
            </div>
            <div class="col-2 h100 measure-box measure-xl">
                <input ng-model="size" class="measure-xl-input" type="radio" id="XL" name="measure" value="XL">
                <label class="checkmark" for="XL">
                    <div class="h20"><p>XL</p></div>
                    <div class="h20 data"><p>{{clothes.chest_xl}}</p></div>
                    <div class="h20 data"><p>{{clothes.waist_xl}}</p></div>
                    <div class="h20 data"><p>{{clothes.hip_xl}}</p></div>
                    <div class="h20 data"><p>{{clothes.length_xl}}</p></div>
                </label>
            </div>
            <div class="col-2 h100 measure-box measure-2xl">
                <input ng-model="size" class="measure-2xl-input" type="radio" id="2XL" name="measure" value="2XL">
                <label class="checkmark" for="2XL">
                    <div class="h20"><p>2XL</p></div>
                    <div class="h20 data"><p>{{clothes.chest_2xl}}</p></div>
                    <div class="h20 data"><p>{{clothes.waist_2xl}}</p></div>
                    <div class="h20 data"><p>{{clothes.hip_2xl}}</p></div>
                    <div class="h20 data"><p>{{clothes.length_2xl}}</p></div>
                </label>
            </div>
            <div class="col-2 h100 measure-box measure-3xl">
                <input ng-model="size" class="measure-3xl-input" type="radio" id="3XL" name="measure" value="3XL">
                <label class="checkmark" for="3XL">
                    <div class="h20"><p>3XL</p></div>
                    <div class="h20 data"><p>{{clothes.chest_3xl}}</p></div>
                    <div class="h20 data"><p>{{clothes.waist_3xl}}</p></div>
                    <div class="h20 data"><p>{{clothes.hip_3xl}}</p></div>
                    <div class="h20 data"><p>{{clothes.length_3xl}}</p></div>
                </label>
            </div>
            <div class="col-2 h100 measure-box measure-4xl">
                <input ng-model="size" class="measure-4xl-input" type="radio" id="4XL" name="measure" value="4XL">
                <label class="checkmark" for="4XL">
                    <div class="h20"><p>4XL</p></div>
                    <div class="h20 data"><p>{{clothes.chest_4xl}}</p></div>
                    <div class="h20 data"><p>{{clothes.waist_4xl}}</p></div>
                    <div class="h20 data"><p>{{clothes.hip_4xl}}</p></div>
                    <div class="h20 data"><p>{{clothes.length_4xl}}</p></div>
                </label>
            </div>
        </div>
    </div>
    <div class="col-12 h10 confirmation-box">
        <button class="size-confirm" type="submit" ng-click="confirmSize(size)">Yes</button>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>