<div class="s21_choose_fabric_3 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div> 
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a href="#choosefabric">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Step <span>02</span></h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>Is this your Fabric?</p>
    </div>
    <div class="col-12 h70 main fabric-confirmation">
        <div class="col-12 h70">
            <div class="fabric-img-box">
                <img src="{{img_path + fabric.icon}}" alt="Fabric">
            </div>
        </div>
        <div class="col-12 h30">
            <div class="fabric-info">
                <h2>{{fabric.name}}</h2>
                <h3 ng-show="fabric.price > 0">This is ${{fabric.price}} more</h3>
                <h3 ng-show="fabric.price === 0">Free</h3>
                <p>{{fabric.description}}</p>
                <a ng-click="saveFabric(fabric)" class="print-yes">Yes</a>
                <a href="#choosefabric" class="print-no">No</a>
            </div>
        </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>