<div class="s67-68_contact_page h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div> 
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Contact Us</h1>
        </div>
    </div>
    <div class="col-12 h40 main list">
            <ul>
                <li>
                    <img src="img/icon_location.png" alt="Location">
                    <p>2782a Dufferin Street<br>Toronto, ON M6B 3R4</p>
                    <div class="clear"></div>
                </li>
                <li>
                    <img src="img/icon_phone.png" alt="Phone">
                    <p>P: (416) 293-4044<br>F: (416) 293-6236</p>
                    <div class="clear"></div>
                </li>
                <li>
                    <img src="img/icon_envelope.png" alt="Envelope">
                    <p class="email">mydesign@pinkmartinicollection.com</p>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
        <div class="col-12 h5 marble">
            <h2>See More here</h2>
        </div>
        <div class="col-12 h10 main social">
            <ul>
                <li>
                    <a href="https://www.facebook.com/mydesignclothes/">
                        <img src="img/icon_social_fb.png" alt="Facebook">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/mydesignclothes/">
                        <img src="img/icon_social_it.png" alt="Instagram">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/mydesignclothes">
                        <img src="img/icon_social_tw.png" alt="Twitter">
                    </a>
                </li>
                <li>
                    <a href="https://www.pinterest.ca/mydesignclothes/">
                        <img src="img/icon_social_pi.png" alt="Pinterest">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 h5 marble subscribe-accordion">
            <h2>Subscribe to Our Newsletter</h2>
            <!--<a class="more-subscribe"><span></span></a>-->
        </div>
        <div class="col-12 h15 main newsletter">
            <div class="subscribe-accordion-content">
                <form ng-submit="subscription(user)">
                    <input class="app_form" ng-model="user.email">
                    <button class="btn-fill-lightgray-sm" type="submit">Send <img src="img/icon_foward.png" alt="Foward"></button>
                </form>
            </div>
        </div>
    <div ng-include="'partials/menu_contact.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>