<div class="s32_visitor_checkout_3 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div> 
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Check Out</h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h75 main">
        <form class="col-12 h100" ng-submit="gift(giftOptions)">
            <div class="col-12 h10">
                <div class="col-12 profile_label">
                    <p>Gift Options</p>
                </div>
            </div>
            <div class="col-12 form-box h15">
                <label class="container">Not a Gift
                    <input ng-model="giftOptions.notAGift" type="checkbox" ng-checked="giftOptions.notAGift" class="not-a-gift">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="col-12 form-box gift-detail h20">
                <label class="container">Email me the Gift Receipt
                    <input ng-model="giftOptions.giftReceipt" type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <p>You will receive a gift receipt by email. The gift will not display items or prices. You may print or forward this receipt to as many gift recipients as you wish</p>
            </div>
            <div class="col-12 form-box gift-detail h20">
                <label class="container">Include a personal Message
                    <input ng-model="giftOptions.personalMessage" type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <div class="input-box col-12">
                    <input class="app_form" ng-model="giftOptions.message" type="text" placeholder="Write your Message">
                </div>
            </div>
            <div class="col-12 form-box gift-detail h25">
                <div class="col-9">
                    <label class="container">Wrapping Paper
                    <input type="checkbox" ng-model="giftOptions.wrapping" class="wpaper">
                    <span class="checkmark"></span>
                </label>
                    <p class="with-check">No additional charges</p>
                    <p class="without-check">No additional charges</p>
                </div>
                <div class="col-3">
                    <p class="pright with-check">Free</p>
                </div>
            </div>
            <div class="col-12 h10 form-next">
                <button class="btn-fill-lightgray-sm" type="submit">
                    Next <img src="img/icon_foward.png" alt="Foward">
                </button>
            </div>
        </form>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>