<div class="s17_choose_what_to_design_2 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div>     
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a href="#/choosecategory">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Step <span>01</span></h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>Choose the t-shirt you like</p>
    </div>
    <div class="col-12 h70 main">
        <div class="col-6" ng-repeat="clothes in clothing">
            <a ng-click="chooseShirt(clothes)" class="item">
                <img ng-src="{{img_path + getClothesByShape(clothes)}}" class="dress" alt="{{clothes.name}}">
                <p>{{clothes.name}} - ${{clothes.price}}</p>
            </a>
        </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>