<div class="s56_purchase h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div> 
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Purchase</h1>
        </div>
        <div class="col-2 h100 aux-left">
            <a class="user-menu-pill">
                <img src="img/icon_tools.jpg" alt="Tools">
            </a>
        </div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>Check your purchase history</p>
    </div>
    <div class="col-12 h70 main">
        <!-- Purchase Box -->
        <div class="col-12 purchase-box" ng-show="purchase.length > 0" ng-repeat="item in purchase">
        <div class="col-12 purchase-item">
            <div class="col-12 purchase-accordion">
                <p>Order # {{item.cart.id}}</p>
                <a class="more-purchase-accordion"><span class="minus"></span><span class="plus"></span></a>
            </div>
            <div class="col-12 purchase-accordion-content">
                <div class="itens">
                    <div class="col-12">Purchase in: <strong>{{item.cart.updated_at}}</strong></div>
                </div>
                <div class="itens">
                    <div class="col-6 left">{{item.name}}</div>
                    <div class="col-6 right">$ {{item.price}}</div>
                    <div class="col-6 left">+{{item.fname}}</div>
                    <div class="col-6 right">$ {{item.fprice}}</div>
                </div>
                <div class="itens">
                    <div class="col-6 left">Shipping:</div>
                    <div class="col-6 right">$ {{item.cart.shipping_price}}</div>
                    <div class="col-6 left">HST</div>
                    <div class="col-6 right">$ {{ ((item.price + item.fprice)*0.13).toFixed(2) }}</div>
                </div>
                <div class="itens">
                    <div class="col-6 left">Total:</div>
                    <div class="col-6 right">$ {{((item.price + item.fprice + item.wrappingPrice + item.cart.shippingPrice)*1.13).toFixed(2)}}</div>
                </div>
            </div>
            <div class="col-12 purchase-accordion-add-content">
                <div class="col-6 left">{{item.name}}</div>
                <div class="col-6 right">$ {{item.price}}</div>
                <div class="col-6 left">+ {{item.fname}}</div>
                <div class="col-6 right">$ {{item.fprice}}</div>
                <div class="col-6 left" ng-show="item.wrapping_price > 0">+ Gift Wrapping</div>
                <div class="col-6 right" ng-show="item.wrapping_price > 0">$ {{item.wrapping_price}}</div>
            </div>
            </div>
            <script>
            $(document).off('click', '.more-purchase-accordion').on('click', '.more-purchase-accordion', function(e) {
            $(this).parent().parent().children('.purchase-accordion-content').slideToggle("slow");
            $(this).parent().parent().children('.purchase-accordion-add-content').slideToggle("slow");
            $(this).children('.plus').toggleClass('active');
            });
            </script>
        </div>
        <!-- End Purchase Box -->
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<div ng-include="'partials/user_menu.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>
