<!-- USER MENU -->
<div class="share-window" id="share-window">
    <a class="share-close" href="">
        <img src="img/icon_close.jpg" alt="Close">
    </a>
    <div class="col-12">
        <h4>What do you want to share?</h4>
    </div>
    <div class="col-12">
        <a href="#closet" class="btn-stroke-golden-bk-lg" type="button">Your Designs</a>
    </div>
    <div class="col-12">
        <a href="#shareapp" class="btn-stroke-golden-bk-lg" type="button">My Design App</a>
    </div>
    <div class="col-12">
        <a href="#invite" class="btn-stroke-golden-bk-lg" type="button">Invite Friends</a>
    </div>
</div>
<div id="share-mask"></div>
<div class="user-menu">
    <div class="col-3 h100 external">
        <div class="menu-close">
            <a class="user-menu-close">
                <img src="img/icon_close.png" alt="Close">
            </a>
        </div>
        <div class="menu-share">
            <a rel="share-modal">
                <img src="img/icon_share.png" alt="Share">
            </a>
        </div>
    </div>
    <div class="col-9 h100 internal">
        <div ng-show="user !== null && user !== undefined" class="col-12 h20 menu-head">
            <div class="content">
                <h2>{{user.first_name}} {{user.last_name}}</h2>
                <h3>{{user.email}}</h3>
            </div>
        </div>
        <div class="col-12 h80 menu-content">
            <ul>
                <li>
                    <a href="#editprofile">
                        <img src="img/icon_toolbar_profile.jpg" alt="Profile">
                        <h4>Edit Profile</h4>
                    </a>
                </li>
                <li>
                    <a href="#shareapp">
                        <img src="img/icon_toolbar_mobile.jpg" alt="Social Media">
                        <h4>Social Media</h4>
                    </a>
                </li>
                <li>
                    <a href="#purchase">
                        <img src="img/icon_toolbar_purchase.jpg" alt="Purchase History">
                        <h4>Purchase History</h4>
                    </a>
                </li>
                <li>
                    <a href="#changepassword">
                        <img src="img/icon_toolbar_key.jpg" alt="Password">
                        <h4>Password</h4>
                    </a>
                </li>
                <li>
                    <a href="#terms">
                        <img src="img/icon_toolbar_sheet.jpg" alt="Terms">
                        <h4>Terms</h4>
                    </a>
                </li>
                <li>
                    <a href="#help">
                        <img src="img/icon_toolbar_help.jpg" alt="Help">
                        <h4>Help</h4>
                    </a>
                </li>
                <li>
                    <a ng-show="user !== null && user !== undefined" ng-click="logout()">
                        <img src="img/icon_toolbar_logout.jpg" alt="Log Out">
                        <h4>Log Out</h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END USER MENU -->
<script src="js/owl.carousel.js"></script>
<script src="js/main.js"></script>