
<div class="s06_design_without_login h100">
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Not Logged In?</h1>
        </div>
    </div>
    <div class="col-12 h75 main">
        <div class="h50">
            <h2>Advantages of having a profile:</h2>
            <ul>
                <li>Save your Designs</li>
                <li>Get the updates</li>
                <li>Save your sizes</li>
                <li>Share your Designs</li>
                <li>Purchase your Designs</li>
            </ul>
        </div>
        <div class="h50">
            <a href="#notloggeddashboard" class="btn-fill-lightgray-lg not-logged" type="button">Continue Without Log In</a>
            <a href="#signup" class="btn-fill-golden-lg" type="button">Sign Up</a>
            <h3>
            <a href="#signin" class="already-member" type="button">Already a Member? <span>Sign In</span></a>    
            </h3>
        </div>
    </div>
    <div ng-include="'partials/menu_dashboard.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>