<div class="s70_forgot_password_2 h100">
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 title">
            <h1>Log In</h1>
        </div>
    </div>
    <div class="col-12 h5 marble">
        <h2>Email Successfully Sent!</h2>
    </div>
    <div class="col-12 h70 main">
        <div class="h100">
            <img class="message" src="img/icon_message.png" alt="Message">
            <p>We sent an email to {{ user.email }} with the password reset instructions.</p>
            <p>Haven't received the e-mail? <a ng-click="passwordRecover(user)">Resend</a></p>
            <a href="#signin" class="btn-fill-lightgray-lg" type="button">Back to Log in Page</a>
        </div>
    </div>
    <div ng-include="'partials/menu_contact.html'"></div>  
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>