<div class="s54_password h100">
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Password</h1>
        </div>
        <div class="col-2 h100 aux-left">
            <a class="user-menu-pill">
                <img src="img/icon_tools.jpg" alt="Tools">
            </a>
        </div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>Change your Password</p>
    </div>
    <div class="col-12 h70 main profile">
        <form ng-submit="changePassword(user)">
            <div class="col-12 h15">
                <input class="app_form password" type="password" placeholder="Current Password" ng-model="user.password">
            </div>
            <div class="col-12 h15">
                <input class="app_form password" id="newpwd" type="password" placeholder="New Password" ng-model="user.newpwd">
            </div>
            <div class="col-12 h15">
                <input class="app_form password" id="cnewpwd" type="password" placeholder="Confirm New Password" ng-model="user.cnewpwd">
            </div>
            <div class="col-12 h15">
                <label class="container">Show
                    <input type="checkbox" ng-click="showPassword()">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="col-12 h15">
                <button class="btn-fill-lightgray-sm" type="submit">Change Password</button>
            </div>
        </form>
    </div>
    <div ng-include="'partials/menu_dashboard.html'"></div> 
</div>
<div ng-include="'partials/alert.html'"></div>
<div ng-include="'partials/user_menu.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>