<div class="s14_choose_shape_1 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div>
    <div class="col-12 h15 header">
        <div class="col-12 h100 main-title">
            <h1>Step <span>01</span></h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>Select your body shape</p>
    </div>
    <div class="col-12 h70 main">
        <a class="col-6 item item-shape" ng-repeat="shape in shapes">
            <button class="info info-shape">i</button>
            <img ng-src="{{ img_path + shape.image }}" class="model" alt="Model" ng-click="confirmShape(shape)">
            <img ng-src="{{ img_path + shape.icon }}" class="icon" alt="Icon" ng-click="confirmShape(shape)">
            <!-- INFO BOX -->
            <div class="info-box shape-info-box">
                <button class="info-box-close shape-info-box-close">
                    <img src="img/icon_close.png" alt="Close">
                </button>
                <h2>{{shape.name}}</h2>
                <p>{{shape.description}}</p>
            </div>
            <script>
                    $('.info-shape').click(function() {
                        $('.shape-info-box').removeClass('show');
                        $(this).parent().children('.shape-info-box').addClass('show');
                    });

                    $('.shape-info-box-close').click(function() {
                        $('.shape-info-box').removeClass('show');
                    });
            </script>
        </a>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>